:root {
  --primary-moderate-violete: hsl(263, 55%, 52%);
  --primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --neutral-light-gray: hsl(0, 0%, 81%);
  --neutral-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

/* Styling */
.card blockquote > p:first-child {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.125rem;
  line-height: normal;
  opacity: 1;
}

p {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.38;
  opacity: 0.7;
}

img {
  border-radius: 1.75rem;
  width: 1.75rem;
}

h1,
h2,
h3,
p,
a {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.color-white {
  color: var(--white);
}

.opacity-04 {
  opacity: 0.4;
}

.fs-11px {
  color: var(--white);
  font-size: 0.688rem;
  font-weight: 500;
  line-height: 1;
  opacity: 0.5;
}

.body__container {
  background-color: var(--neutral-grayish-blue);
  padding: 4.438rem 1.5rem;
}

.card__wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
}

.card {
  padding: 1.625rem 2rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3.125rem -2.938rem rgba(72, 85, 106, 0.25);
}

.card__reviewer {
  display: flex;
  gap: 1.063rem;
}

.reviewer__details p:nth-child(1) {
  opacity: 1;
}

/* Card 1 - 375px */
.card:nth-of-type(1) {
  position: relative;
  background-color: var(--primary-moderate-violete);
  z-index: 0;
}

.card:nth-of-type(1)::before {
  content: "";
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 6.5rem;
  height: 6.375rem;
  top: 0;
  right: 1.5rem;
  z-index: -1;
}

.card:nth-of-type(1) img {
  border: 2px solid hsl(264, 82%, 70%);
}

.card:nth-of-type(1) blockquote p:nth-child(2) {
  margin-top: 2.5rem;
  padding-right: 1rem;
}

/* Card 2 - 375px */
.card:nth-of-type(2) {
  background-color: var(--primary-very-dark-grayish-blue);
}

.card:nth-of-type(2) blockquote p:nth-child(2) {
  margin-top: 1rem;
}

/* Card 3 - 375px */
.card:nth-of-type(3) {
  background-color: var(--white);
  color: var(--primary-very-dark-blackish-blue);
}

.card:nth-of-type(3) .fs-11px {
  color: var(--primary-very-dark-blackish-blue);
}

.card:nth-of-type(3) blockquote p:nth-child(2) {
  margin-top: 1rem;
}

/* Card 4 - 375px */
.card:nth-of-type(4) {
  background-color: var(--primary-very-dark-blackish-blue);
}

.card:nth-of-type(4) blockquote p:nth-child(2) {
  margin-top: 1rem;
}

/* Card 5 - 375px */
.card:nth-of-type(5) {
  background-color: var(--white);
  color: var(--primary-very-dark-blackish-blue);
}

.card:nth-of-type(5) .fs-11px {
  color: var(--primary-very-dark-blackish-blue);
}

.card:nth-of-type(5) blockquote p:nth-child(2) {
  margin-top: 1rem;
}

@media screen and (min-width: 72.813rem) {
  .card__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 16rem);
    justify-content: center;
    align-self: center;
    gap: 1.875rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  /* grid-area: row-start col-start row-end col-end */
  .card:nth-of-type(1),
  .card:nth-of-type(4) {
    grid-column: span 2;
  }

  .card:nth-of-type(5) {
    grid-area: 1 / 4 / 3 / -1;
  }

  .card:nth-of-type(5) blockquote p:nth-child(2) {
    margin-top: 1.5rem;
  }

  .card:nth-of-type(1) blockquote p:nth-child(2) {
    margin-top: 1rem;
    padding-right: 0;
  }

  .card:nth-of-type(1)::before {
    right: 5rem;
  }
}
